html {
    font-family: Josefin Sans, sans-serif;

}

body {
    min-height: 100vh;
    max-width: 550px;
    margin: 0 auto;

    background: #B8D4FF;
    background: -moz-linear-gradient(top, #B8D4FF 0%, #7EA5F7 60%, #217FBF 100%);
    background: -webkit-linear-gradient(top, #B8D4FF 0%, #7EA5F7 60%, #217FBF 100%);
    background: linear-gradient(to bottom, #B8D4FF 0%, #7EA5F7 60%, #217FBF 100%);
    display: flex;
    flex-direction: column;
}

header>* {
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.h1Header>span {
    padding: 0 10px;
}


.displayChoices > span {
    padding: 0 5px;
    font-size: 1.3em;
}


.roundCount {
    padding-left: 5px;
}

.winner {
    padding-left: 10px;
    height: 31.2px;
}
.score, .rounds {
    margin: 40px 0;
    border: 1px solid;
    padding: 20px 0;
    text-align: center;
    background-color: #fff7ec;
    border-radius: 5px;
    font-size: x-large;
}

.gameButtons {
    display: flex;
    justify-content: space-between;
}
.gameButtons>button {
    padding: 20px 20px;
    font-size: 100px;
    background-color: #fff7ec;
}

.gameButtons>button:hover {
    transform: scale(1.1);
}

button {
    background-color: #fff7ec;
    border-radius: 10px;
}
#newGame {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 20px;
    
}
.playAgainBtn {
    padding: 10px 20px;
}
a {     text-decoration:none;}

footer {
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 14px;
}

